@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    color: black;
    font-family: "Flama";
}

@font-face {
    font-family: "Flama";
    src: url("/fonts/flama/Flama-Medium.otf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Flama";
    src: url("/fonts/flama/Flama-Bold.otf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Flama";
    src: url("/fonts/flama/Flama-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Flama";
    src: url("/fonts/flama/Flama-Light.otf");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Kawaru";
    src: url("/fonts/kawaru/Kawaru.ttf");
    font-display: swap;
}
