@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    color: black;
    font-family: "Barlow";
    font-size: 26px;
}

@media (min-width: 800px) {
    body {
        font-size: 22px;
    }
}

@font-face {
    font-family: "Monument";
    src: url("/fonts/monument/monumentextended-ultrabold.otf");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/barlow/BarlowCondensed-Bold.otf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/barlow/BarlowCondensed-Medium.otf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Bowlby";
    src: url("/fonts/bowlby/BowlbyOneSC-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Klima";
    src: url("/fonts/klima/Klima-Regular.otf");
    font-weight: 400;
    font-display: swap;
}
